/*Browser Reset */
*{
    margin: 0;
    padding: 0;
}

/*Global Styles */
html{
    font-family: "Benne", "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: normal;
}

body{
    background-color: black;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.cozy{
    height: 69px;
    width: 1200px;
    z-index: 2;
    position:fixed;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    height: 50px;
    margin-left: 10px;
}

.navigation li {
    list-style: none;
    display: inline-flex;
    padding-right: 25px;
  
  }
  
  .navigation a {
    text-decoration: none;
    color: #ffc200; 
  }
  
  .navigation a:hover{
    opacity:0.5;
  }



